@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background: #081b29;
    color:#ededed;

}

.header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 2vw 10%;
    background:yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.start {
    font-size: 1.3vw;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 600px) {
    .start {
        font-size: 4vw; }
    }

.navbar a {
    font-size: 1.3vw;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 3.5vw;
    transition: .3s;
}

@media (max-width: 600px) {
    .navbar a {
        font-size: 4vw; }
    }

.navbar a:hover,
.navbar a.active {
    color:#00abf0;
} 

.home {
    height: 100vh;
    background: url(images/profilna.png);
    background-size: auto;
    background-position:right;
    display: flex;
    align-items:center;
    padding: 0 10%;
    
}

.home-content {
    max-width: 900px;
    padding-top: 3vw;
    justify-content: flex-start;
    

}

.home-content h1 {
    font-size: 5vw;
    font-weight: 600;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 3vw;
    font-weight: 600;
    color:yellowgreen;
}


.home-content p {
    font-size: 1.6vw;
    font-weight: bold;
    margin: 2vw 0 4vw;
      
    
}

.home-content .btn-box {
    display:flex;
    width: 15vw;
    height: 5vw;
    
}

.btn-box a {

    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height:100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 0.8vw;
    font-size: 2.5vw;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.1vw;

}

.biography {
    
    height:fit-content;
    background-size: auto;
    background-position:right;
    display: flex;
    align-items:center;
    padding: 0 10%;
}

.biography-content {
    max-width:fit-content;
}

.biography-content p {
    max-width: fit-content;
    padding-top: 10vw;
    margin: 2vw 0 4vw;
   
}

.biography-content a {
    color:#00abf0;
}

.interests {
    height: fit-content;
    background-size: auto;
    background-position:right;
    display: flex;
    align-items:center;
    padding: 0 10%;
}

.interests-content {
    max-width: fit-content;
}

.interests-content p {
    max-width: fit-content;
    padding-top: 10vw;
    margin: 2vw 0 4vw;
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

.alignedright {
    padding-left: 6vw;
}

.secondary {
    padding-left: 6.5vw;
}

#sampioni {
    padding-top: 2%;
    padding-bottom: 2%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    height: auto;

}